@model asp_project_oamk.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poster)
        </dt>

        <dd>
            <img src="@Model.Poster" alt="" ;>
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-danger">@Html.ActionLink("Edit", "Edit", new { id = Model.MovieId })</button>
    <button class="btn btn-danger"> @Html.ActionLink("Back to List", "Index")</button>
</p>
